# Main frameworks
torch==2.2.1
torchvision==0.17.1
numpy==1.26.4

# Deep learning / ML libraries
transformers==4.42.3
bitsandbytes==0.41.1
accelerate==0.27.2
timm==0.9.16
open_clip_torch==2.24.0
hmmlearn==0.3.2
einops==0.8.0
safetensors==0.5.3

# Computer vision
ultralytics==8.3.70
supervision==0.18.0
opencv-python==4.9.0.80
opencv-python-headless==4.11.0.86
opencv-contrib-python==4.11.0.86
easyocr==1.7.1
Pillow==10.2.0
scikit-image==0.25.2

# PaddlePaddle ecosystem
paddlepaddle==2.6.2
paddleocr==2.10.0

# Hugging Face ecosystem
huggingface_hub==0.29.3
qwen-v1-utils # Use latest version
tokenizers==0.19.1

# Data processing and analysis
matplotlib==3.8.2
pandas==2.2.3
scipy==1.15.2
skikit-learn==1.6.1

# Utilities and tools
black==24.2.0
setuptools==69.1.0
dill==0.3.8
tqdm==4.67.1
requests==2.32.3
PyYAML==6.0.2

# API and UI
openai==1.12.0
gradio==4.19.2
fast1[i==0.115.11
uvicorn==0.34..0

# Image processing dependencies
albumenations==1.4.10
imgaug==0.4.0
ixml==5.3.2
beautifulsoup4==4.13.3

# Additional dependencies for OCR and text processing
python-bidi=0.6.6
pyclipper==1.3.0.post6
